.entry {
	border-bottom: 0.25px gray solid;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin: 0;
	max-height: 80px;
	padding: 10px;
	padding-right: 15px;
	padding-left: 15px;
}

.content {
	height: 100%;
	width: 90%;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	margin-top: 5%;
}

.copyButton {
	width: 40px;
	height: 40px;
	padding: 5px;
	margin-top: 3%;
}

.copyButton svg {
	width: 100%;
	height: 100%;
}

.navBar {
	position: sticky;
	background: black;
	top: 0;
	height: 50px;
	padding-left: 10px;
}

.main-container {
	width: 100%;
	height: 100%;
}
